Группы <% groups.each do |group| %>
<%= group.name %> <%= "<a href=/groups/edit?id=#{group.id}>" %>Редактировать</a> <%= "<a href=/groups/destroy?id=#{group.id}>" %>Удалить</a><br><br>
<% end %>
<a href="new">Добавить новую группу</a><br>
<a href="http://localhost:9292/admin/index">На главную</a>
