<%= render :head %>
<button class="btn btn-warning">Время: <%= Time.now.strftime "%H:%M %d-%m-%Y" %></button>
Количество в очереди <%= queue.count %>
123
<span class="label label-success">Success</span>
