<p><%= notice %></p>
<form action="update" method="get">
  Имя: <input type="text" name="service[name]" value= '<%= service.name %>'> <br>
  <input type="hidden" name="id" value=<%= service.id %>> <br>
  <input type="submit" value="Submit">
</form>
