Группы <% services.each do |service| %>
<p>  <%= service.name %> <%= "<a href=/services/edit?id=#{service.id}>" %>Редактировать</a> <%= "<a href=/services/destroy?id=#{service.id}>" %>Удалить</a></p>
<%= service.created_at.strftime '%d-%m-%Y' %>
<% end %>
<a href="new">Добавить новую группу</a>
