Сервисы <% services.each do |service| %>
<p>  <%= service.name %> <%= "<a href=/services/edit?id=#{service.id}>" %>Редактировать</a> <%= "<a href=/services/destroy?id=#{service.id}>" %>Удалить</a></p>
<% end %>
<a href="new">Добавить новый сервис</a>
