<p><%= notice %></p>
<form action="create" method="get">
Имя сервиса: <input type="text" name="service[name]"><br>
Буквенное обозначение для очереди: <input type="text" name="service[world_of_alphabet]"><br>
  <input type="submit" value="Submit">
</form>
