<body style="background-color:#d9edf7">
<%= render :head %>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title"><b>Авторизуйтесь, чтобы работать в системе</b></h1>
            <div class="account-wall">
                <form class="form-signin">
                <input type="text" class="form-control" placeholder="Логин" required autofocus>
                <input type="password" class="form-control" placeholder="Пароль" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Запомнить логин и пароль
                </label>

                </form>
            </div>

        </div>
    </div>
</div>
</body>
