 <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">
                            <img src="/img/user.png" class="img-thumbnail" />

                            <div class="inner-text">
                              Администратор:<br>
                                Кунгуров Евгений Витальевич
                            <br />

                            </div>
                        </div>

                    </li>


                    <li>
                        <a class="active-menu" href="index"><i class="fa fa-dashboard "></i>Панель инструментов</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop "></i>Настройки<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="http://localhost:9292/client_restrictions/index"><i class="fa fa-yelp"></i>Ограничение кол-ва людей в день</a>
                            </li>
                            <li>
                                <a href="http://localhost:9292/client_restrictions/index"><i class="fa fa-yelp "></i>Ограничеине кол-ва интернет записей в день</a>
                            </li>
                             <li>
                                <a href="http://localhost:9292/client_restrictions/index"><i class="fa fa-yelp "></i>Очереденость очереди</a>
                            </li>

                        </ul>
                    </li>
                     <li>
                        <a href="#"><i class="fa fa-yelp "></i>Журналы<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="http://localhost:9292/admin/logs"><i class="fa fa-yelp"></i>Общие</a>
                            </li>
                            <li>
                                <a href="pricing.html"><i class="fa fa-yelp "></i>Оценка работы</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="http://localhost:9292/users/index"><i class="fa fa-flash "></i>Управление сотрудниками</a>

                    </li>
                      <li>
                        <a href="http://localhost:9292/services/index"><i class="fa fa-anchor "></i>Управление услугами</a>
                    </li>
                     <li>
                        <a href="http://localhost:9292/groups/index"></i>Управление группами</a>
                    </li>
                    <li>
                        <a href="login.html"><i class="fa fa-sign-in "></i>Выйти</a>
                    </li>

                </ul>

            </div>

        </nav>
