<% restrictions.each do |restriction| %>
  <%= restriction.name %>:
  <%= restriction.count %>  <%= "<a href=/client_restrictions/edit?id=#{restriction.id}>" %>Редактировать</a><br>
<% end %>
<a href="http://localhost:9292/admin/index">На главную</a>
