<p><%= notice %></p>
<form action="create" method="get">
  Имя: <input type="text" name="client_restriction[name]"><br><br>
  Количество человек: <input type="text" name="client_restriction[count]"><br>
  <input type="submit" value="Submit">
</form>
